div(data-role='page')
    header(data-role='header')
        h1= title
    div(data-role='content')
      p Links
        - if(items.length)
            ul(data-role='listview')
                - items.forEach(function(item){
                    li
                      a(href=item['url'])= item['title']
                - })

